{% extends "layout.html" %} 

{% block content %}

<div class="fp container">
    <h1 class="nh1" style="text-align: center;">Descripcion:</h1>
    <div class="fpa justify-content-center">    
        
        </div>  
        <div class="col" style="padding: 5px;">
            <p style="text-align: justify; margin: 5px;">
                  Hola mi nombre es Oscar Daniel Benitez Blanco ,tengo 19 años de edad,generalmente soy conocido 
                  como Daniel ,soy estudiante de la carrera ingenieria en sistemas y redes informaticas  ,actualmente 
                  estoy cursado segundo año.

            </p>
        </div>

    </div>
</div>          
{% endblock %}




