{% extends "layout.html" %} 

{% block content %}

<div class="fp container">
    <h1 class="nh1" style="text-align: center;">Introduccion</h1>
    <div class="fpa justify-content-center">    
      
       
        <div class="col" style="padding: 5px;">
            <p style="text-align: justify; margin: 5px;">
             La empresa de dasarrollo ,su objetivo es crear web y app que sean de productividad  y de exsitopara la sociedad .Esta web muetra infromacion Django.
             Ademas seguir potenciando nuestras avilidades  con diferentes  lenguajes de programacion.
            
            </p>
        </div>
        
            
</p>     
{% endblock %}
