{% extends "layout.html" %}

{% block content %}
<h1 class="nh1" style="text-align: center;">Infromacion de Django:</h1>
<div class="fpa justify-content-center col" style="display: block; margin: 5px;">    
    <center><div class="row" style="padding: 5px;">
         
     
            </div>  
            <div class="col" style="padding: 5px;">
                <p style="text-align: justify; margin: 5px;">
                    Django es un framework web de alto nivel que permite el desarrollo rápido de sitios web seguros y mantenibles. 
                    Desarrollado por programadores experimentados, Django se encarga de gran parte de las
                     complicaciones del desarrollo web, por lo que puedes concentrarte en escribir tu aplicación
                      sin necesidad de reinventar la rueda. Es gratuito y de código abierto, tiene una comunidad
                       próspera y activa, una gran documentación y muchas opciones de soporte gratuito y de pago.
                
                </p>
            </div>
            <div class="col" style="padding: 5px;">
                <p style="text-align: justify; margin: 5px;">
                    Django sigue la filosofía "Baterías incluidas" y casi todo lo que los desarrolladores quisieran que tenga "de fábrica". Porque todo lo que necesitas es parte de un único "producto", todo funciona a 
                    la perfección.
                
                
                </p>
            </div>
            <div class="col" style="padding: 5px;">
                <p style="text-align: justify; margin: 5px;">
                    Django puede ser (y ha sido) usado para construir casi cualquier tipo de sitio web - desde
                     sistemas manejadores de contenidos y wikis, hasta redes sociales y sitios de noticias. 
                     Puede funcionar con cualquier framework en el lado del cliente, y puede devolver contenido
                      en casi cualquier formato (incluyendo HTML, RSS feeds, JSON, XML, etc.). ¡El sitio que estás
                     leyendo actualmente está basado en Django!
                
                
                </p>
        
{% endblock %}